
html{
  scroll-behavior: smooth;
}
body {
      position: relative; 
      overflow-x: hidden;
     
  }
.nav-btn{
    border-radius: 25px;
    background-color: white;
    border: none;
    color: black;
  }
  #intro-image-conference{
    
    width: 520px;margin-left: 10px;
  }
  .bearers-panel{
    border-radius: 25px;
    background-color: white;
    border: none;
    color: black;
    height: 440px;
    width: 300px
  }

}
  #footer-conference{
    text-align: center;
    width:100vw;
    max-width:100vw;
    background: #4fb4df;
  
    color:white;
    box-shadow: 5px 5px 20px #000;
    border-radius: 30px 0 30px 0;
    padding:8px;
  }
    .acm-intro-text{

        color: #686868;
        margin-top: 15px;
        padding: 180px 15px 10px 15px;

    }
    .intro{

    }
    #photo-vaala-container{
      margin: 100px 8vw;
      width:80%;
      margin-right: 5vw;
    }
  @media only screen and (max-width: 600px) {
  
  #advancing-tech,#advancing-tech-sub{
      text-align: center;
  }
  #footer-conference{
      font-size: 0.8em;
  }
    #intro-image-conference{
  
    width: 90vw;margin-left: 5px;
  }
  #photo-vaala-container{
      margin: 10px 8vw;
      margin-right: 5vw;
    }
  .acm-intro-text{

        color: #686868;
        margin-top: 15px;
        padding: 10px 15px 10px 15px;

    }
}
  #ishandeveloper{
      text-decoration: none;
      color:white;
      text-transform: bold;
      transition: all ease-in-out 0.5s;
    }
    #ishandeveloper:hover{
      font-size:1.5em;
    }
  @media only screen and (max-width: 600px){
  .acm-text-intro{
    padding: 20px 15px 10px 15px;   
  }
  .img-fluid{
    max-width:80%;
  }
  .intro{
    margin:0 -60px 40px 0px;
  }
}
#photos-vaali-gallery{
  margin: 25px 8vw;
  margin-right: 5vw;
}
  .bearers-panel{
    border-radius: 25px;
    background-color: white;
    border: none;
    color: black;
    height: 27rem;
    width: 20rem;
  }
  .ques-panel{
    border-radius: 25px;
    background-color: white;
    border: none;
    color: black;
    height: 400px;
    width: 300px
  }
  .join-panel{
    border-radius: 25px;
    background-color: white;
    border: none;
    color: black;
    height: 32rem;
    width: 23rem;
  }
  .knowmore-panel {
    height:13rem;
    width: 15rem;
  }
  .bearers-panel{
    border-radius: 25px;
    background-color: white;
    border: none;
    color: black;
  }
.navbar-toggler {
    border-color: lightgrey;
}
 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(211,211,211)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.questiondiv{
    display: flex;
    justify-content: center;
    align-items: center
}

.nav-item{
  margin-bottom: 5px;
}
.navbar.navbar-expand-md.bg-white.fixed-top{
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(255,255,255,0.6);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.borderless td, tr  {
border: 0;
}

.panel-events-12{
  border-radius: 25px;
    background-color: white;
    border: none;
    color: black;
    height: 28rem;
    width: 20rem
}
.panel-events-34{
  border-radius: 25px;
    background-color: white;
    border: none;
    color: black;
    height: 26.2rem;
    width: 20rem
}
.panel-events-56{
  border-radius: 25px;
    background-color: white;
    border: none;
    color: black;
    height: 27.2rem;
    width: 20rem
}